
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: 	#16697A;
  /* primary/main color */
  --clr-primary-5: 	#489fb5;
  /* lighter shades of primary color */
  --clr-primary-7:  #65B0C1;
  --clr-primary-9: #82C0CC;
  --clr-primary-10:#B8D4D8;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(207, 36%, 95%);
  /* other colors  */
  --clr-grey: #F2F2F2;
  --clr-dark-grey:#42494E;
  --clr-light: rgb(247, 247, 247);
  --clr-dark: rgb(16, 22, 24);
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-platinum: #E5E5E5;
  /* font families */
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary:'Fondamento', cursive;
  /* transition */
  --transition: all 0.5s linear;
  --long-transition: all 1.5s ease;
  /* spacing */
  --spacing: 0.25rem;
  /* radius */
  --radius: 0.65rem;
  /* box shadow */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* width */
  --max-width: 1280px;
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media screen and (max-width:400px){
  *{
    overflow-x: hidden;
  }
} */

body {
  font-family: var(--ff-primary);
  background: var(--clr-light);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.9rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img{
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
font-size: 2.8rem;
}
h2 {
font-size: 1.9rem;
}
h3 {
font-size: 1.2rem;
}
h4 {
font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
h1 {
font-size: 3.5rem;
}
h2 {
font-size: 2.5rem;
}
h3 {
font-size: 1.5rem;
}
h4 {
font-size: 1.1rem;
}
body {
font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1;
}
}


/*  global classes */

.btn {
text-transform: uppercase;
background: var(--clr-primary-5);
color: var(--clr-primary-1);
padding: 0.375rem 0.75rem;
letter-spacing: var(--spacing);
display: inline-block;
font-weight: 600;
transition: var(--transition);
font-size: 1rem;
border: 2px solid transparent;
cursor: pointer;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
background: var(--clr-primary-7);
color: var(--clr-light); 
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline{
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.2rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.section-title{
  margin-bottom: 4rem;
	text-align: center;
}
.section-title h2{
	font-family: var(--ff-secondary);
	color: var(--clr-grey-1);
	text-shadow: 1px 1px 1px var(--clr-primary-5)
}

.title-brief{
  max-width: 40rem;
  padding: 0.5rem 1.5rem;
  margin: 1rem auto;
  margin-bottom: 0;
}

/*
=============== 
Navbar
===============
*/

.nav{
  position: fixed;
  width: 100vw;
  z-index: 100;
}
.nav-header{
  padding: 0.4rem 2rem;
  background: var(--clr-white);
  border-bottom: 4px solid var(--clr-primary-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-top{
  display: flex;
}
.nav-logo{
  width: 10rem;
	transform: scale(1.1);
	-o-object-fit: contain;
     object-fit: contain;
  margin-right: 2rem;
}
.theme-btn{
  align-self: center;
  background: transparent;
  color: var(--clr-black);
  border-radius: 50%;
  font-size: 1.3rem;
  border-color: var(--clr-black);
}
.theme-btn:hover{
  color: var(--clr-black);
  background: var(--clr-grey-5);
}
@media screen and (max-width:576px){
  .theme-btn{
    font-size: 1rem;
  }
}
.nav-btn{
  align-self: center;
  outline: none;
  border: 2px solid var(--clr-primary-5);
  background: transparent;
  cursor: pointer;
  transition: var(--transition);
  padding: 0.1rem 0.3rem;
}
.nav-btn:hover{
  transform: scale(1.01);
}
.bar-1,.bar-2,.bar-3{
  width: 25px;
  height: 4px;
  margin: 5px 0;
  background: var(--clr-primary-5);
  transition: var(--long-transition);
}
.turn .bar-1{
  transform: rotate(-45deg) translate(-7px,6px);
  background-color: rgb(200,40,40);
}
.turn .bar-2{
  opacity: 0;
}
.turn .bar-3{
  transform: rotate(45deg) translate(-7px,-6px);
  background-color: rgb(200,40,40);
}
.nav-links{
  display: none;
  background: var(--clr-platinum);
}
.nav-link{
  padding: 0.5rem 1.5rem;
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  font-size: 1.2rem;
  transition: var(--transition);
}
.nav-link:hover{
  padding-left: 1.8rem;
  border-left: 10px solid var(--clr-primary-5);
  color: var(--clr-primary-5);
  font-weight: bold;
  background: var(--clr-grey-10);
}
.navBackground{
  background: rgba(250,250,250,0.9);
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

@media screen and (min-width:992px){
	.nav-btn{
		display: none;
	}
	.nav-links{
		display: flex!important;
		justify-content: space-evenly;
		align-items: center;
		margin: 0.8rem 0;
    background: transparent;
    margin-right: 5rem;
	}
	.nav-header{
    background: transparent;
    border: none;
    flex: 0 0 auto;
    margin-left: 5rem;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav-link{
    padding: 0.2rem 0.8rem;
    font-size: 1.3rem;
    color: var(--clr-grey-1);
    font-weight: 600;
  }
  .nav-link:hover{
    border: none;
    padding-left:0.8rem;
    color: var(--clr-grey-5);
    background: var(--clr-grey-10);
  }
}





/*
=============== 
Hero
===============
*/

.hero{
	background: var(--clr-primary-10);
}
.hero .underline{
	margin-left: 0;
	margin-bottom: 0.5rem;
}

.hero-banner{
	min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 5rem 0;
}
.hero-info h1{
  font-family: var(--ff-secondary);
}

.hero-info h4{
	color: var(--clr-grey-5);
	text-transform: uppercase;
	margin-top: 2rem;
}

.hero-btn{
	margin-top: 1.2rem;
  margin-right: 1rem;
  transition: var(--transition);
}
.light-btn{
	background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}
.light-btn:hover{
	background: var(--clr-grey-1);
  color: var(--clr-light);
}
.dark-btn{
	background: var(--clr-grey-1);
  color: var(--clr-light);
}
.dark-btn:hover{
	background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}

.hero-icons{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	justify-items: start;
	margin: 2rem auto;
	margin-left: 0;
	width: 20rem;
}
.hero-icon{
	color: var(--clr-grey-1);
	font-size: 1.8rem;
	transition: var(--transition);
}
.hero-icon:hover{
	color: var(--clr-primary-5);
}
.hero-img{
  display: none;
}

.hero-image{
  max-width:28rem;
  max-height: 32rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius:var(--radius);
  position: relative;
}


.hero-image-phone{
  max-width:25rem;
  max-height: 30rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius:var(--radius);
	position: relative;
	margin-top: 5rem;
}

@media screen and (max-width:400px){
	.hero-banner{
		place-items: center;
	}
  .hero-icons{
    margin-top: 0.8rem;
  }
  .hero-info h1{
    font-size: 2.2rem;
  }
  .hero-info h4{
    font-size: 0.8rem;
  }
  .hero-btn{
    margin-top:0.8rem;

  }
  .hero-icons a{
    font-size: 1.5rem;
  }
  .hero-image-phone{
  max-width:20rem;
	max-height:24rem;
  }
}

@media screen and (min-width:992px){
  .hero-img{
    display: block;
    position: relative;
  }
  .hero-img-phone{
    display: none;
  }
  .hero-banner{
    grid-template-columns: 1fr 1fr;
  }
  .hero-img::before{
    content:"";
    position: absolute;
    top: 2rem;
    right: -2rem;
    width: 100%;
    height: 100%;
    border: 4px solid var(--clr-primary-5);
    border-radius: var(--radius);
  }
  .hero-info{
    align-self: center;
  }
}


/*
=============== 
About
===============
*/

.about{
	min-height: 60vh;
	padding: 8rem 0;
}

.about-img{
	position: relative;
	justify-self: center;
}
.about-image{
	position: relative;
	-o-object-fit: cover;
	   object-fit: cover;
}
.about-img::before{
  content: '';
  position: absolute;
  background: var(--clr-primary-10);
  width: 100%;
  height: 100%;
  bottom: -1rem;
  left: -1rem;
}
.about-center{
  display: grid;
  row-gap: 3rem;
}

.about-title-pc{
  text-align: left;
  margin-bottom: 2rem;
  display: none;
}
.about-info .underline{
	margin-left: 0;
}


@media screen and (min-width:992px){
	.about-title-pc{
		display: inline;
  }
  .about-title-phone{
		display: none;
  }
  .about-center{
		grid-template-columns: 1fr 1fr;
		-moz-column-gap: 4rem;
		     column-gap: 4rem;
		
  }
  .about-info{
		align-self: center;
		padding: 0 2rem;
  }
}




/*
=============== 
Services
===============
*/

.services{
  background: var(--clr-grey-10);
  min-height: 60vh;
}
.service{
  text-align: center;
  transition: var(--transition);
  margin: 1rem 0;
  padding: 2rem 1.5rem;
}
.service:hover{
  transform: scale(1.01);
  background: var(--clr-primary-7);
  box-shadow: var(--light-shadow);
}
.service-icon{
  font-size: 2.2rem;
  transition: var(--transition);
}
.service:hover .service-icon{
  color: var(--clr-light);
}
.service-title{
  margin: 1rem 0;
  font-weight: bolder;
  font-size: 1.2rem;
  transition: var(--transition);
}
.service:hover .service-title{
  color: var(--clr-light);
}
.service-text{
  max-width: 23rem;
  margin: 0 auto;
  transition: var(--transition);
}
.service:hover .service-text{
  color: var(--clr-light);
}

@media screen and (min-width:768px){
  .services-center{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem 1rem;
  }
}
@media screen and (min-width:992px){
  .services-center{
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0rem 1rem;
  }
}





/*
=============== 
Projects
===============
*/

.projects-img{
  margin-bottom: 2rem;
  background: var(--clr-primary-5);
  transition: var(--transition);
  border-radius: var(--radius);
  position: relative;
}

.projects-image{
  height: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  transition: var(--transition);
}

.project-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--clr-light);
  transition: var(--transition);
  opacity: 0;
}

.project-text h4{
  text-transform: uppercase;
  line-height: 1.3;
}

.project-text p{
  color: var(--clr-light);
  text-transform: capitalize;
}

.projects-img::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid var(--clr-light);
  border-radius: var(--radius);
  transition: var(--transition);
  opacity: 0;
}

.projects-img:hover .projects-image{
  opacity: 0.2;
}
.projects-img:hover .project-text{
  opacity: 1;
}
.projects-img:hover::after{
  opacity: 1;
  transform: scale(0.85);
}

.new-page-link{
  margin: 4rem auto;
  margin-bottom: 0;
  text-align: center;
}


@media screen and (min-width:720px){
  .projects-center{
    display: grid;
    grid-template-columns:1fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width:992px){
  .projects-center{
    grid-template-columns:1fr 1fr 1fr;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width:1170px){
  .projects-center{
    display: grid;
    grid-template-rows: 200px 200px;
    row-gap: 1rem;
    grid-template-areas: 
    "a b b"
    "a c d"
    ;
  }
  .projects-img, .projects-image{
    height: 100%;
  }
  
  .project1{
    grid-area: a;
  }
  .project2{
    grid-area: b;
  }
  .project3{
    grid-area: c;
  }
  .project4{
    grid-area: d;
  }
}





/*
=============== 
Connect
===============
*/

.connect{
  min-height: 60vh;
  margin: 5rem 0;
  padding: 8rem 0 4rem 0;
  position: relative;
}

.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}

.connect::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-light);
  opacity: 0.7;
  z-index: -1;
}

.connect{
  display: grid;
  place-items: center;
  -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
  clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
}

.connect-title{
  margin-bottom: 2rem;
}

.connect-banner{
  background: var(--clr-primary-10);
  padding: 3rem 5rem 12rem 5rem;
  text-align: center;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.connect-banner p{
  max-width: 30rem;
}




/*
=============== 
Skills
===============
*/

.skills{
	background: var(--clr-primary-9);
	min-height: 60vh;
}

.skills-center h3{
  color: var(--clr-primary-1);
  margin: 1.5rem 0;
}

.skill{
  margin-bottom: 1.2rem;
}

.skill p{
  color: var(--clr-primary-1);
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.skill-container{
  background: var(--clr-light);
  height: 1.1rem;
  width: 100%;
  border-radius: var(--radius);
  position: relative;
}

.skill-value{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-radius: var(--radius);
  background: var(--clr-primary-5);
}

/* skill value in % to edit with time */
.skill-value-1{width: 95%;}
.skill-value-2{width: 95%;}
.skill-value-3{width: 60%;}
.skill-value-4{width: 30%;}
.skill-value-5{width: 40%;}
/* end */

.skill-text{
  position: absolute;
  top: -2rem;
  left: 0%;
  transform: translateX(-50%);
}

/* skill value in % to edit with time */
.skill-percentage-1{left:95%}
.skill-percentage-2{left:95%}
.skill-percentage-3{left:60%}
.skill-percentage-4{left:30%}
.skill-percentage-5{left:40%}
/* end */


@media screen and (min-width:728px){
  .skills-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
}



/*
=============== 
Sketches
===============
*/
.sketches{
  background: var(--clr-primary-10);
  min-height: 100vh;
}
.sketches-title .underline{
  background: var(--clr-primary-1);
}

.sketch{
  overflow: hidden;
  background: var(--clr-primary-5);
  margin: 2rem;
  margin-bottom: 5rem;
  border-radius: var(--radius);
}
.sketch-image{
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--long-transition);
}
.sketch:hover .sketch-image{
  opacity: 0.7;
  transform: scale(1.1);
}





/*
=============== 
Timeline
===============
*/

.timeline-center{
  width: 80vw;
  max-width: 40rem;
}

.timeline-item{
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
  border-top: 2px dashed var(--clr-primary-5);
}
.timeline-item h4{
	text-transform: uppercase;
	letter-spacing: var(--spacing);
}
.timeline-item p{
  margin-bottom: 0;
}

.timeline-item:nth-child(even){
  border-left: 2px dashed var(--clr-primary-5);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}

.timeline-item:nth-child(odd){
  border-right: 2px dashed var(--clr-primary-5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}

.timeline-item:first-child{
  border-top: 0;
  border-top-right-radius: 0;
}

.timeline-item:last-child{
  border-bottom-left-radius: 0;
}

.timeline-number{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  font-weight: bold;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.timeline-item:nth-child(odd) .timeline-number{
  left: 100%;
}
.timeline-item:nth-child(even) .timeline-number{
  left: 0%;
}




/*
=============== 
Blog
===============
*/

.blog{
  background: var(--clr-grey-10);
}

.blog-card{
  height: 31rem;
  position: relative;
  perspective: 1500px;
}

.card-side{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  transition: all 2s linear;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}

.card-front{
  background: var(--clr-light);
}

.card-back{
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
  transform: rotateY(180deg);
}

.blog-card:hover .card-front{
  transform: rotateY(-180deg);
}
.blog-card:hover .card-back{
  transform: rotateY(0deg);
}

/* rest of the styling */

.card-front img{
  height: 17rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card-info{
  padding: 1rem 1.5rem;
}
.card-info h4{
	font-weight: bolder;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 1.2rem;
}
.card-info p{
  font-weight: lighter;
  margin: 2rem 0;
}
.card-footer{
	margin: 1rem 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.card-footer img{
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.card-footer p{
	color: var(--clr-primary-5);
  text-transform: uppercase;
	justify-self: end;
	align-self: center;
	margin: 0;
}

.blog-center{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(330px,1fr));
  gap: 3rem 2rem;
}




/*
=============== 
Footer
===============
*/

.footer{
  background: var(--clr-dark);
  padding: 1rem 0;
  display: grid;
  place-items: center;
}
.footer-icons{
	justify-items: center;
	margin: 2rem 0;
}
.footer-icon{
  color: var(--clr-primary-7);
	transition: var(--transition);
	justify-self: center;
}

.footer-icon:hover{
  color: var(--clr-light);
}

.footer-info p{
  padding: 0 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--clr-platinum);
  letter-spacing: normal;
  font-weight: normal;
  margin: 0rem auto 3rem auto
}



/* ########################    homepage ends here    ######################## */






/* 
###########################
SINGLE PAGE STYLING
###########################
*/

.single-page{
	background: var(--clr-light);
  min-height: 100vh;
}
.page-nav{
  position: fixed;
  width: 100vw;
  z-index: 100;
}
.page-nav-header{
  padding: 0.5rem 2rem;
  background: var(--clr-white);
  border-bottom: 4px solid var(--clr-primary-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.go-back-btn{
  border-radius: 50%;
  transform: scale(1.1);
}
.go-back-text{
  display: none;
}
@media screen and (min-width:768px){
  .page-nav-header{
    padding: 0.5rem 6rem;
	}
	.page-title h2{
		font-size: 4rem;
	}
  .go-back-btn{
    border-radius: 0;
  }
  .go-back-text{
  display: inline;
  }
}
.page-title{
	padding-top: 5rem;
}
.page-title h2{
  background: url('../images/title-bcg.svg') center no-repeat;
	font-size: 3.25rem;
}



/* 
**************************
**************************
ABOUT PAGE
**************************
**************************
*/

.ui-helper-reset{
  margin: 0 auto!important;
}
.ui-accordion-header{
  padding: 1rem 4rem!important;
  font-size: 1.8rem!important;
  background: transparent!important;
  color: var(--clr-black)!important;
  outline: none!important;
  border: none!important;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
  margin: 2rem 0 0.5rem!important;
  text-transform: unset;
}
.ui-accordion .ui-accordion-content{
  padding:2rem 4rem!important;
  padding-bottom:1rem!important;
  text-align: left;
  background: var(--clr-grey)!important;
  color: var(--clr-dark)!important;
  outline: none!important;
  border: none!important;
  line-height: 2!important;
  max-width: 45rem;
  margin: 0 auto!important;
}
.ui-accordion-header-icon{
  background: transparent;
  margin-right: 0.5rem;
}
.about-page-center{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}





/* 
**************************
**************************
SKETCHES PAGE
**************************
**************************
*/

.single-sketch{
  background: var(--clr-primary-5)
}
.single-sketch-image{
  transition: var(--long-transition);
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.single-sketch:hover .single-sketch-image{
  opacity: 0.5;
}
.sketches-page-center{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media screen and (min-width:992px){
.sketches-page-center{
  grid-template-columns: repeat(4,1fr);
}
}





/* 
**************************
**************************
BLOG PAGE
**************************
**************************
*/

.blog-page-center h1{
	font-size: 4rem;
	text-transform: uppercase;
	text-align: center;
	padding: 5rem 1rem 1rem;
}
.blog-page-center h2{
	font-size: 1.3rem;
	color: var(--clr-grey-2);
	text-align: center;
	padding: 1rem;
}





/* 
**************************
**************************
PROJECTS PAGE
**************************
**************************
*/

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
}

.button-group button {
  display: inline-block;
  padding: 0.4rem 0.6rem;
  margin: 0.5rem 0.8rem;
  text-transform: capitalize;
  background: var(--clr-primary-7);
  color: var(--clr-grey-1);
  border-radius: 5px;
  font-size: 1.2rem;
  transition: var(--transition);
  text-align: center;
  cursor: pointer;
}

.button-group button:hover {
  background: var(--clr-primary-10);
}

.single-project {
  background: var(--clr-grey);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin: 2rem 1rem;
}

.single-project:hover {
  transform: scale(1.01);
  box-shadow: var(--dark-shadow);
}

.project-images-container {
  display: grid;
}

@media screen and (min-width:678px) {
  .project-images-container {
    grid-template-columns: 1fr 1fr;
  }

  .single-project {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width:992px) {
  .project-images-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .single-project {
    width: calc(33.33% - 2rem);
  }
}

.project-container{
  position: relative;

}
.project-container img{
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-icon{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  font-size: 1.8rem;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background: var(--clr-primary-5);
  border-radius: 50%;
  color: var(--clr-primary-1);
  border: 6px solid var(--clr-grey-10);
  transition: var(--transition);
}
.project-icon:hover{
	background: var(--clr-dark);
}

.project-details{
	padding: 2.5rem 1.5rem;
}
.project-details h4{
  text-transform: uppercase;
  text-align: center;
	margin-top: 1rem;
	font-weight: bold;
}

.project-footer{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: -2rem;
}
.project-footer-date{
  color: var(--clr-primary-5);
	text-transform: capitalize;
	margin-bottom: 0;
}
.project-footer span{
  color: var(--clr-primary-5);
  font-size: 1.5rem;
  transition: var(--transition);
}
.project-footer a{
  justify-self: end;
  align-self: center;
}
.project-footer span:hover{
	color: var(--clr-dark);
	font-weight: bolder;
}


